<h1 style="color:blue;font-size:35px" >Confirmed!</h1>
<p style="color:blue;font-size:30px">
  You just followed, <%= @follow.following %>
</p>
 
<%= link_to(image_tag("back2.png"), welcome_index_path) %>
